stages:
  - setup
  - unit-tests
  - dev
  - promote-to-stg
  - stg
  - promote-to-prd
  - prd

aws-setup:
  stage: setup
  tags:
    - aws
  script:
    - terraform -version
    - terragrunt -version
    - kubectl version --client
    - kops version
    - helm version --client
    - aws --version
    - jq --version
    - ruby --version
    - bundle version
    - rake --version

gcp-setup:
  stage: setup
  tags:
    - gcp
  script:
    - docker version
    - docker-compose version
    - docker pull gpii/exekube:0.4.0-google
    - docker images | grep exekube
    - ruby --version
    - bundle version
    - rake --version

aws-unit-tests:
  stage: unit-tests
  tags:
    - aws
  script:
    - cd aws/rakefiles/tests
    - rake

gcp-unit-tests:
  stage: unit-tests
  tags:
    - gcp
  script:
    - cd gcp/rakefiles/tests
    - bundle install --path "vendor/bundle"
    - rake

aws-dev:
  stage: dev
  tags:
    - aws
  script:
    - cd aws/dev
    - bundle install --path "vendor/bundle"
    - rake clobber
    - rake
  after_script:
    # Clean up even if something failed.
    - cd aws/dev
    - rake destroy
    - rake clobber

gcp-dev:
  stage: dev
  tags:
    - gcp
  script:
    - cd gcp/live/dev
    - rake clobber
    - rake configure_serviceaccount_ci_restore
    - rake
    - rake test_preferences
    - rake test_flowmanager
  after_script:
    # Clean up even if something failed.
    - cd gcp/live/dev
    - rake destroy
    # Destroy secrets, so they can be repopulated on the next run to exercise
    # managing secrets from scratch.
    - rake destroy_secrets
    # Terraform state encryption key is also gone with secrets, we have to destroy tfstate as well
    - rake destroy_tfstate
    # Remove all SA keys except current one to prevent hitting 10 keys per SA limit (GPII-3299)
    - rake destroy_sa_keys
    - rake clobber

aws-promote-to-stg:
  stage: promote-to-stg
  tags:
    - aws
  script:
    - export DATESTAMP="$(date -u '+%Y%m%d%H%M%S')"  # e.g. 20170603220542. Uses UTC.
    - echo "DATESTAMP is $DATESTAMP"  # So it's visible in the log
    - git tag "deploy-aws-stg-$DATESTAMP"
    # gitlab is not clever enough to clean up an added remote and git complains
    # if we add a remote that already exists.
    - git remote | grep -q "^origin-rw" || git remote add origin-rw git@github.com:gpii-ops/gpii-infra
    - git push --tags origin-rw

gcp-promote-to-stg:
  stage: promote-to-stg
  tags:
    - gcp
  script:
    - export DATESTAMP="$(date -u '+%Y%m%d%H%M%S')"  # e.g. 20170603220542. Uses UTC.
    - echo "DATESTAMP is $DATESTAMP"  # So it's visible in the log
    - git tag "deploy-gcp-stg-$DATESTAMP"
    # gitlab is not clever enough to clean up an added remote and git complains
    # if we add a remote that already exists.
    - git remote | grep -q "^origin-rw" || git remote add origin-rw git@github.com:gpii-ops/gpii-infra
    - git push --tags origin-rw

aws-stg:
  stage: stg
  tags:
    - aws
  environment:
    name: stg
  script:
    - cd aws/stg
    - rake clobber
    - rake

# DISABLED while we sort out the gcp-stg -> gcp-gpii-stg migration.
.gcp-stg:
  stage: stg
  tags:
    - gcp
  environment:
    name: stg
  script:
    - cd gcp/live/stg
    - rake clobber
    - rake configure_serviceaccount_ci_restore
    - rake
    - rake test_preferences
    - rake test_flowmanager
  after_script:
    # Clean up even if something failed.
    - cd gcp/live/stg
    # Destroy Locust module (used for smoke tests)
    - rake destroy_module[locust]
    # Remove all SA keys except current one to prevent hitting 10 keys per SA limit (GPII-3299)
    - rake destroy_sa_keys

aws-promote-to-prd:
  stage: promote-to-prd
  tags:
    - aws
  script:
    - export DATESTAMP="$(date -u '+%Y%m%d%H%M%S')"  # e.g. 20170603220542. Uses UTC.
    - echo "DATESTAMP is $DATESTAMP"  # So it's visible in the log
    - git tag "deploy-aws-prd-$DATESTAMP"
    # gitlab is not clever enough to clean up an added remote and git complains
    # if we add a remote that already exists.
    - git remote | grep -q "^origin-rw" || git remote add origin-rw git@github.com:gpii-ops/gpii-infra
    - git push --tags origin-rw
  when: manual
  allow_failure: false

# DISABLED while we sort out the gcp-stg -> gcp-gpii-stg migration.
.gcp-promote-to-prd:
  stage: promote-to-prd
  tags:
    - gcp
  script:
    - export DATESTAMP="$(date -u '+%Y%m%d%H%M%S')"  # e.g. 20170603220542. Uses UTC.
    - echo "DATESTAMP is $DATESTAMP"  # So it's visible in the log
    - git tag "deploy-gcp-prd-$DATESTAMP"
    # gitlab is not clever enough to clean up an added remote and git complains
    # if we add a remote that already exists.
    - git remote | grep -q "^origin-rw" || git remote add origin-rw git@github.com:gpii-ops/gpii-infra
    - git push --tags origin-rw
  when: manual
  allow_failure: false

aws-prd:
  stage: prd
  variables:
    RAKE_REALLY_RUN_IN_PRD: "true"
  tags:
    - aws
  environment:
    name: prd
  script:
    - cd aws/prd
    - rake clobber
    - rake

# DISABLED while we sort out the gcp-stg -> gcp-gpii-stg migration.
.gcp-prd:
  stage: prd
  variables:
    RAKE_REALLY_RUN_IN_PRD: "true"
  tags:
    - gcp
  environment:
    name: prd
  script:
    - cd gcp/live/prd
    - rake clobber
    - rake configure_serviceaccount_ci_restore
    - rake
    - rake test_preferences
    - rake test_flowmanager
  after_script:
    # Clean up even if something failed.
    - cd gcp/live/prd
    # Destroy Locust module (used for smoke tests)
    - rake destroy_module[locust]
    # Remove all SA keys except current one to prevent hitting 10 keys per SA limit (GPII-3299)
    - rake destroy_sa_keys
