.*.sw?
.bundle/
.config
.terraform/
.DS_Store
aws/dev/terraform.tfstate*
graph*.png
gcp/live/*/**/owner.json
gcp/live/*/compose.env
gcp/live/*/*secrets/**
gcp/live/*/*values/**
common/live/*/**/owner.json
common/live/*/compose.env
common/live/*/*values/** 
common/live/*/*secrets/**
shared/charts/locust/tasks/*
aws/modules/deploy/secrets/*-secrets.yml
aws/prereqs/dev/terraform.tfstate*
tags
vendor/
__pycache__
