.*.sw?
.bundle/
.config
.terraform/
.DS_Store
graph*.png
gcp/live/*/**/owner.json
gcp/live/*/compose.env
gcp/live/*/*secrets/**
gcp/live/*/*values/**
common/live/*/**/owner.json
common/live/*/compose.env
common/live/*/*values/**
common/live/*/*secrets/**
shared/charts/locust/tasks/*
tags
vendor/
__pycache__
*.pyc
