replicaCount: ${replica_count}

couchdbUri: http://couchdb-svc-couchdb.gpii.svc.cluster.local:5984
couchdbUsername: ${couchdb_admin_username}
couchdbPassword: ${couchdb_admin_password}

image:
  repository: ${couchdb_prometheus_exporter_repository}
  checksum: ${couchdb_prometheus_exporter_checksum}
  prometheusToSdExporter:
    repository: ${couchdb_prometheus_exporter_p2sd_repository}
    tag: ${couchdb_prometheus_exporter_p2sd_tag}
